.col-sm-3
  %h3.general-subtitle
    = t("checkout.address_page.#{address.kind}")
  %p.general-address
    = address.full_name
    = link_to t('checkout.confirm_page.edit_link'), wizard_path(CheckoutStepsController::STEPS[:address]), class: 'general-edit' if checkout
    %br
      = address.street
    %br
      = address.city_with_zip
    %br
      = address.country
    %br
      = t('checkout.address_phone', number: address.phone)
