- provide(:title, t('order_page.title'))
%main.container.general-main-wrap
  %h4.general-title-margin.in-gold-500
    = t('orders.order_number', number: order.number)
  .row.mb-20
    = render 'orders/order_info/address_information', address: order.addresses.billing.first.decorate, checkout: false
    = render 'orders/order_info/address_information', address: order.addresses.shipping.first.decorate, checkout: false
    = render 'orders/order_info/delivery_method_info', order: order, checkout: false
    = render 'orders/order_info/card_info', credit_card: order.credit_card.decorate, checkout: false
  .visible-xs
    = render partial: 'order_items/cart/mobile_cart_row', collection: order_items, as: :order_item
  .hidden-xs.divider-lg.pt-20
    %table.table.table-hover
      = render 'order_items/cart/item_titles_row'
      = render partial: 'order_items/cart/cart_row', collection: order_items, as: :order_item, locals: { checkout_complete: true }
  .text-center.general-text-right
    = render 'orders/order_info/order_summary', order: order, right: true
