.col-xs-6.col-sm-3.MY_CUSTOM_CLASS
  .general-thumb-wrap
    .thumbnail.general-thumbnail
      = image_tag book.cover_url(:w500), class: 'img-shadow general-thumbnail-img', alt: t('book.cover_alt', title: book.title)
      .thumb-hover
        .general-thumb-link-wrap
          = link_to book_path(id: book), class: 'thumb-hover-link' do
            %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
          %a.thumb-hover-link{href: "#"}
            %i.fa.fa-shopping-cart.thumb-icon
  .general-thumb-info
    %p.title
      = book.title
    %p.font-16.in-gold-500
      = t('book.price', price: book.price)
    %span.divider-sm
    %p.lead.small
      = book.authors_as_string
