%tr{ class: "#{order_item.id}" }
  %td
    .general-img-wrap-table
      = Book.where(id: order_item.book_id).includes(:covers).first.decorate.main_book_cover
  %td
    %p.title
      = link_to order_item.book.title, book_path(order_item.book)
  %td
    %span.font-16.in-gold-500
      = t('price', price: order_item.book.price)
  = render partial: 'carts/form', locals: { order_item: order_item }
  %td
    %span.font-16.in-gold-500{ class: "#{order_item.id}" }
      = t('price', price: order_item.total_price)
  %td
    = button_to order_item_path(order_item), remote: true, method: :delete, class: 'close general-cart-close' do
      %span{'aria-hidden': "true"} &times;
