= f.input :first_name, label: t('checkout.address_page.form.first_name'), placeholder: t('checkout.address_page.form.first_name')
= f.input :last_name, label: t('checkout.address_page.form.last_name'), placeholder: t('checkout.address_page.form.last_name')
= f.input :street, label: t('checkout.address_page.form.address'), placeholder: t('checkout.address_page.form.address')
= f.input :city, label: t('checkout.address_page.form.city'), placeholder: t('checkout.address_page.form.city')
= f.input :zip, as: :string, label: t('checkout.address_page.form.zip'), placeholder: t('checkout.address_page.form.zip')
= f.input :country, priority: ['UA'], label: t('checkout.address_page.form.country'), placeholder: t('checkout.address_page.form.country_select')
= f.input :phone, as: :tel, label: t('checkout.address_page.form.phone'), placeholder: t('checkout.address_page.form.phone_example')
= f.hidden_field :kind, value: current_type
