%main.container
  %h1.general-title-margin
    = t('catalog.title')
  .hidden-xs.clearfix
    .dropdowns.pull-right
      .dropdown.width-240
        = render partial: 'dropdown_menu'
    %ul.list-inline.pt-10.mb-25.mr-240
      %li.mr-35
        = link_to shop_path, class: 'filter-link' do
          = t('catalog.all')
          %span.badge.general-badge
            = @books.count
      - @categories.each do |category|
        %li.mr-35
          = link_to shop_path(category_id: category.id), class: 'filter-link' do
            = category.name
            %span.badge.general-badge
              = category.books.count
  .dropdowns.mb-25.visible-xs
    %p.lead.small.mb-10 Filter by category
    .dropdown
      = render partial: 'dropdown_menu'
  .mb-120
    .row
      - @chosen_books.each do |book|
        = render partial: 'books/book', locals: { book: book }
    .text-center
      = pagy_bootstrap_nav(@pagy).html_safe
