- provide(:title, t('checkout.address'))
%main.container
  %h1.general-title-margin
    = t('checkout.title')
  %ul.steps.list-inline
    %li.step.active
      %span.step-number
        = t('checkout.steps_numbers.first')
      %span.step-text.hidden-xs
        = t('checkout.address')
    %li.step-divider
    %li.step
      %span.step-number
        = t('checkout.steps_numbers.second')
      %span.step-text.hidden-xs
        = t('checkout.delivery')
    %li.step-divider
    %li.step
      %span.step-number
        = t('checkout.steps_numbers.third')
      %span.step-text.hidden-xs
        = t('checkout.payment')
    %li.step-divider
    %li.step
      %span.step-number
        = t('checkout.steps_numbers.fourth')
      %span.step-text.hidden-xs
        = t('checkout.confirm')
    %li.step-divider
    %li.step
      %span.step-number
        = t('checkout.steps_numbers.fifth')
      %span.step-text.hidden-xs
        = t('checkout.complete')
  = simple_form_for(@order, url: wizard_path, validate: true, method: :put, html: { class: 'res-mb-100' },
  defaults: { input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' },
  label_html: { class: 'control-label input-label' } }) do |f|
    .hidden-xs.hidden-sm
      .row
        .col-md-5
          %h3.general-subtitle
            = t('checkout.address_page.billing')
          %p.general-info-text
            = t('checkout.address_page.required_fields')
        .col-md-5.col-md-offset-1
          %h3.general-subtitle
            = t('checkout.address_page.shipping')
    .row
      .col-md-5.mb-40
        .visible-xs.visible-sm
          %h3.general-subtitle
            = t('checkout.address_page.billing')
          %p.general-info-text
            = t('checkout.address_page.required_fields')
        = f.simple_fields_for :billing, @checkout.form.billing do |billing_address|
          = render 'addresses/form', f: billing_address, address_kind: Address::KINDS[:billing]
      .col-md-5.col-md-offset-1.mb-60
        .visible-xs.visible-sm
          %h3.general-subtitle
            = t('checkout.address_page.shipping')
        #shipping-form
          = f.simple_fields_for :shipping, @checkout.form.shipping do |shipping_address|
            = render 'addresses/form', f: shipping_address, address_kind: Address::KINDS[:shipping]
        .checkbox.form_group
          %label.checkbox-label
            = @order.decorate.clone_address
            %span.checkbox-icon
              %i.fa.fa-check
            %span.checkbox-text
              = t('checkout.address_page.use_billing_button')
    .general-text-align.mb-60
      = render 'orders/order_info/order_summary', order: order, right: false
    .text-center
      = f.button :submit, t('checkout.buttons.next'), class: 'btn-default mb-80'
