- provide(:title, t('checkout.confirm'))
%main.container.general-main-wrap
  %h1.general-title-margin
    = t('checkout.title')
  %ul.steps.list-inline
    %li.step.done
      %span.step-number
        %i.fa.fa-check.step-icon
      %span.step-text.hidden-xs
        = t('checkout.address')
    %li.step-divider
    %li.step.done
      %span.step-number
        %i.fa.fa-check.step-icon
      %span.step-text.hidden-xs
        = t('checkout.delivery')
    %li.step-divider
    %li.step.done
      %span.step-number
        %i.fa.fa-check.step-icon
      %span.step-text.hidden-xs
        = t('checkout.payment')
    %li.step-divider
    %li.step.active
      %span.step-number
        = t('checkout.steps_numbers.fourth')
      %span.step-text.hidden-xs
        = t('checkout.confirm')
    %li.step-divider
    %li.step
      %span.step-number
        = t('checkout.steps_numbers.fifth')
      %span.step-text.hidden-xs
        = t('checkout.complete')
  .row.mb-20
    .col-sm-3
      %h3.general-subtitle
        = t('checkout.address_page.billing')
      %p.general-address
        = @checkout_helper.billing.full_name
        = link_to t('checkout.address_page.edit_link'), wizard_path(:address), class: 'general-edit'
        %br
          = @checkout_helper.billing.address.address
        %br
          = @checkout_helper.billing.city_with_zip
        %br
          = @checkout_helper.billing.country
        %br
          = t('checkout.address_phone', number: @checkout_helper.billing.phone)
    .col-sm-3
      %h3.general-subtitle
        = t('checkout.address_page.shipping')
      %p.general-address
        = @checkout_helper.shipping.full_name
        = link_to t('checkout.address_page.edit_link'), wizard_path(:address), class: 'general-edit'
        %br
          = @checkout_helper.shipping.address.address
        %br
          = @checkout_helper.shipping.city_with_zip
        %br
          = @checkout_helper.shipping.country
        %br
          = t('checkout.address_phone', number: @checkout_helper.shipping.phone)
    .col-sm-3
      %h3.general-subtitle
        = t('checkout.confirm_page.shipments')
      %p.general-address
        = order.delivery_method_name
        = link_to t('checkout.address_page.edit_link'), wizard_path(:delivery), class: 'general-edit'
    .col-sm-3
      %h3.general-subtitle
        = t('checkout.confirm_page.payment_info')
      %p.general-address
        = @checkout_helper.credit_card.masked_number
        = link_to t('checkout.address_page.edit_link'), wizard_path(:payment), class: 'general-edit'
        %br
        = @checkout_helper.credit_card.expire_date
  .visible-xs
    = render partial: 'orders/mobile_cart_row', collection: @checkout_helper.order_items, as: :order_item
  .hidden-xs.divider-lg.pt-20
    %table.table.table-hover
      = render 'orders/item_titles_row'
      = render partial: 'orders/cart_row', collection: @checkout_helper.order_items, as: :order_item
  .text-center.general-text-right
    = render 'orders/order_summary', order: order, right: true
  .text-center
    = link_to t('checkout.buttons.place_order'), next_wizard_path, class: 'btn btn-default mb-20'
