- provide(:title, t('checkout.confirm'))
%main.container.general-main-wrap
  %h1.general-title-margin
    = t('checkout.title')
  %ul.steps.list-inline
    %li.step.done
      %span.step-number
        %i.fa.fa-check.step-icon
      %span.step-text.hidden-xs
        = t('checkout.address')
    %li.step-divider
    %li.step.done
      %span.step-number
        %i.fa.fa-check.step-icon
      %span.step-text.hidden-xs
        = t('checkout.delivery')
    %li.step-divider
    %li.step.done
      %span.step-number
        %i.fa.fa-check.step-icon
      %span.step-text.hidden-xs
        = t('checkout.payment')
    %li.step-divider
    %li.step.active
      %span.step-number
        = t('checkout.steps_numbers.fourth')
      %span.step-text.hidden-xs
        = t('checkout.confirm')
    %li.step-divider
    %li.step
      %span.step-number
        = t('checkout.steps_numbers.fifth')
      %span.step-text.hidden-xs
        = t('checkout.complete')
  .row.mb-20
    = render 'orders/order_info/address_information', address: current_order.addresses.billing.first.decorate, checkout: true
    = render 'orders/order_info/address_information', address: current_order.addresses.shipping.first.decorate, checkout: true
    = render 'orders/order_info/delivery_method_info', order: current_order, checkout: true
    = render 'orders/order_info/card_info', credit_card: current_order.credit_card.decorate, checkout: true
  .visible-xs
    = render partial: 'order_items/cart/mobile_cart_row', collection: @checkout.order_items, as: :order_item
  .hidden-xs.divider-lg.pt-20
    %table.table.table-hover
      = render 'order_items/cart/item_titles_row'
      = render partial: 'order_items/cart/cart_row', collection: @checkout.order_items, as: :order_item
  .text-center.general-text-right
    = render 'orders/order_info/order_summary', right: true
  .text-center
    = link_to t('checkout.buttons.place_order'), next_wizard_path, class: 'btn btn-default mb-20'
