- if user_signed_in?
  .mb-80
    %h3
      = t('review.write_review')
    %p.general-info-text
      = t('review.score')
    .row
      .col-md-8
        = simple_form_for(Review.new, url: reviews_path, html: { class: 'mb-40' }, |
          defaults: { input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' }, |
          label_html: { class: 'control-label input-label in-grey-600' } }) do |f|
          .mb-15.rating
            = f.collection_radio_buttons :rating, [[5], [4], [3], [2], [1]], :first, :last, item_wrapper_tag: false, boolean_style: :inline do |button|
              = button.radio_button + button.label {"#{:rating.to_s}_#{button.to_s}"}
          %br
          %br
          = f.input :title, input_html: { id: 'title' }, label: t('review.title')
          = f.input :body, input_html: { id: 'review' }, label: t('review.review')
          = f.hidden_field :user_id, value: current_user.id
          = f.hidden_field :book_id, value: book.id
          .text-right
            = f.button :submit, t('review.post'), class: 'btn-default mb-20'
.mb-80
  %h3.in-gold-500.mb-25
    = t('review.count', count: book.reviews.approved.count)
  - book.reviews.approved.each do |review|
    .general-message-wrap.divider-lg
      .clearfix
        %span.img-circle.logo-size.inlide-block.pull-left.logo-empty M
        // = image_tag "https://www.smashingmagazine.com/wp-content/uploads/2015/09/smashing-book-5-2-large.jpg", class: 'img-circle logo-size inlide-block pull-left'
        .ml-70
          %div
            .general-message-date.hidden-xs
              = review.created_at.strftime('%d/%m/%y')
            .max-240
              .general-message-verified.pull-right Verified Reviewer
              .general-message-name
                = review.user_email
          - if review.rating
            .mb-15
              - 1.upto(5) do |index|
                - if review.rating >= index
                  %i.fa.fa-star.rate-star
                - else
                  %i.fa.fa-star.rate-star.rate-empty
          %h4
            = review.title
          %p
            = review.body
