!!!
%html
  %head
    = render partial: 'layouts/rails_assets'
    %title
      = t('layout.title', title: yield(:title))
  %body
    = render partial: 'layouts/header/header'
    = yield
    = render partial: 'layouts/footer'
